@model SystemForRecordingWorkingTime.Models.User

<div class="col-3">
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patronymic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patronymic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Role)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DaysWorked)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DaysWorked)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnusedVacationDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnusedVacationDays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllUnusedVacationDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllUnusedVacationDays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DaysOff)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DaysOff)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestCountByStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestCountByStatus)
        </dd>
    </dl>
</div>
